body {
    margin: 0;
    color: black;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: RGBA(245, 243, 241);
    background-image: url('./img/pokeball-bw.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


h1 {
    font-size: 24px;
}


h2 {
    font-size: 20px;
}


.w100 {
    width: 100%;
}


.w66 {
    width: 66%;
}


.maRiLe24px {
    margin-right: 24px;
    margin-left: 24px;
}


.marginBottom80px {
    margin-bottom: 80px;
}


.dFlex {
    display: flex;
}

.dWrap {
    display: flex;
    flex-wrap: wrap;
}


.alignFlexStart {
    display: flex;
    align-items: flex-start;
}


.column {
    display: flex;
    flex-direction: column;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.spaceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.dNone {
    display: none !important;
}


#pokemonLogo {
    width: 800px;
}


#pokeCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
}


.pokeCard {
    color: white;
    width: 20vw;
    margin: 40px;
    padding: 24px;
    border-radius: 24px;
    filter: drop-shadow(12px 10px 20px black);
    border: 4px solid #FFFFFF;
}


.pokeCard:hover {
    transition: all 0.25s ease-in-out;
    transform: scale(1.15);
}


.pokeCard:not(:hover) {
    transition: all 0.25s ease-in-out;
    transform: scale(1);
}


.h1PokeNames {
    filter: drop-shadow(1px 1px 2px black)
}


.pokeImg:hover {
    transition: all 0.25s ease-in-out;
    transform: scale(1.25);
    z-index: 1000;
}


.pokeImg:not(:hover) {
    transition: all 0.25s ease-in-out;
    transform: scale(1);
}


.stylePokeTypes {
    padding: 4px 8px;
    border-radius: 8px;
    min-width: 40px;
    text-align: center;
    margin-top: 16px;
    filter: drop-shadow(1px 1px 2px black);
    margin-right: 24px;
}


.grassCard {
    background-color: #3EAA84;
}


.fireCard {
    background-color: #B92020;
}


.waterCard {
    background-color: #2669C1;
}


.poisonCard {
    background-color: #C8A0EF;
}


.bugCard {
    background-color: #93C946;
}


.normalCard {
    background-color: #A8A77A;
}


.flyingCard {
    background-color: #C2B9CD;
}


.electricCard {
    background-color: #F7D02C;
}


.fairyCard {
    background-color: #F7A8B7;
}


.groundCard {
    background-color: #E2BF65;
}


.fightingCard {
    background-color: #C22E28;
}


.psychicCard {
    background-color: #F95587;
}


.rockCard {
    background-color: #B6A136;
}


.iceCard {
    background-color: #96D9D6;
}


.dragonCard {
    background-color: #6F35FC;
}


.ghostCard {
    background-color: #4C2B4B;
}


.stylePokeTypes:hover {
    cursor: pointer;
}


.grassType {
    background-color: #3EAA84;
}


.fireType {
    background-color: #B92020;
}


.waterType {
    background-color: #2669C1;
}


.poisonType {
    background-color: #C8A0EF;
}


.bugType {
    background-color: #93C946;
}


.normalType {
    background-color: #A8A77A;
}


.flyingType {
    background-color: #C2B9CD;
}


.electricType {
    background-color: #F7D02C;
}


.fairyType {
    background-color: #F7A8B7;
}


.groundType {
    background-color: #E2BF65;
}


.fightingType {
    background-color: #C22E28;
}


.psychicType {
    background-color: #F95587;
}


.rockType {
    background-color: #B6A136;
}


.iceType {
    background-color: #96D9D6;
}


.dragonType {
    background-color: #6F35FC;
}


.ghostType {
    background-color: #4C2B4B;
}


.stylePokeTypes:hover {
    cursor: pointer;
}


.grassType:hover {
    background-color: #5ac09c;
}


.fireType:hover {
    background-color: #dc4747;
}


.waterType:hover {
    background-color: #66a5f8;
}


.poisonType:hover {
    background-color: #dac4f1;
}


.bugType:hover {
    background-color: #9bc068;
}


.normalType:hover {
    background-color: #cfcfac;
}


.flyingType:hover {
    background-color: #ddd9e1;
}


.electricType:hover {
    background-color: #f2e096;
}


.fairyType:hover {
    background-color: #eed0d6;
}


.groundType:hover {
    background-color: #e7cc89;
}


.fightingType:hover {
    background-color: #f17874;
}


.psychicType:hover {
    background-color: #fe99b7;
}


.rockType:hover {
    background-color: #fae478;
}


.iceType:hover {
    background-color: #c6efed;
}


.dragonType:hover {
    background-color: #9975f7;
}


.ghostType:hover {
    background-color: #775276;
}


#heartWhite {
    width: 16px;
}


#arrowBack {
    width: 40px;
}


#arrowBack:hover {
    transition: all 0.25s ease-in-out;
    transform: scale(1.15);
}


#arrowBack:not(:hover) {
    transition: all 0.25s ease-in-out;
    transform: scale(1);
}


#pokeChartContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    background-color: RGB(245, 243, 241);
    background-image: url('./img/pokemon-wallpaper-karpador.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-height: 100vh;
}


.pokeChartContainerChild {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 360px;
    width: 25vw;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    z-index: 1;
    filter: drop-shadow(0px 2px 5px black);
}


.pokeImgChart {
    width: 200px;
    margin-bottom: -480px;
    z-index: 999;
}


.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;

}


.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}


.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.pokeChartContainerChild2 {
    color: black;
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding-right: 80px;
    padding-left: 80px;
    background-color: white;
    padding-bottom: 400px;
    margin-top: -80px;
    filter: drop-shadow(0px 2px 5px black);
    min-height: 100%;
    overflow-y: hidden;
}


#h2Categorys {
    text-align: center;
}


.styleBaseStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.aboutContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;

}


.styleChartTop1 {
    width: 100%;

}


.styleLinks {
    text-decoration: none;
}


.styleLinks:hover {
    cursor: pointer;
}


.progressBar {
    background-color: black;
    border-radius: 13px;
    width: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8px;
}


.progress {
    background-color: green;
    height: 8px;
    border-radius: 10px;
}


.styleProgressBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


#searchInput {
    height: 24px;
    padding: 8px 40px;
    border: none;
    background-color: RGBA(255, 205, 2, 0.75);
    text-align: center;
    border-radius: .375rem;
    margin-right: 16px;
    line-height: 1.3;
    padding: .875rem 1.125rem;
    width: 30%;
    border-radius: 0.375rem;
    border-style: solid;
    border-width: 0.125rem;
    color: black;
}

::placeholder {
    color: black;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#searchInput.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    /* Z-Index kann je nach Anforderung angepasst werden */
}


/* CSS */
.button-80 {
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 40px;
    margin-bottom: 40px;
}


.button-80:not(:disabled):hover {
    transform: scale(1.05);
}


.button-80:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}


.button-80:focus {
    outline: 0 solid transparent;
}


.button-80:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}


.button-80:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}


.button-80:focus:not(:focus-visible):before {
    border-width: 0;
}


.button-80:not(:disabled):active {
    transform: translateY(.125rem);
}


.button-81 {
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 40px;
    margin-bottom: 40px;
}


.button-81:not(:disabled):hover {
    transform: scale(1.05);
}


.button-81:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}


.button-81:focus {
    outline: 0 solid transparent;
}


.button-81:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}


.button-81:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}


.button-81:focus:not(:focus-visible):before {
    border-width: 0;
}


.button-81:not(:disabled):active {
    transform: translateY(.125rem);
}


.styleMoves {
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Damit der Scrollbalken erscheint */
    padding-bottom: 30vh;
}


@media (max-width: 1300px) {


    .h1PokeNames {
        font-size: 24px;
    }


    .pokeImg {
        width: 64px;
    }


    .stylePokeTypes {
        font-size: 12px;
    }
}


@media (max-width: 1100px) {


    #pokeCardContainer {
        grid-template-columns: repeat(2, 1fr);
    }


    .styleh1PokeNames {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 850px) {


    .pokeCardContainer {
        background-image: url('./img/pokeball-bw.png');
        background-repeat: repeat-y;
        background-size: contain;
        grid-template-columns: repeat(1, 1fr);
    }


    .pokeCard {
        width: 50vw;
    }


    #pokemonLogo {
        width: 66%;
    }


    body {
        overflow-x: hidden;
    }


    .pokeChartContainerChild {
        width: 100%;
        padding-right: 0;
    }


    .pokeChartContainerChild2 {
        width: 100%;
    }


    .styleChartTop1 {
        padding-left: 40px;
        padding-right: 40px;
    }


    .aboutContainer {
        padding-left: 40px;
        padding-right: 40px;
    }


    .styleAbout {
        padding-top: 26px;
        font-size: 16px;
        padding-right: 40px;
        padding-left: 40px;
    }


    .styleBaseStats {
        padding-top: 26px;
        font-size: 16px;
        padding-right: 40px;
        padding-left: 40px;
    }


    .styleMoves {
        padding-top: 26px;
        font-size: 16px;
        padding-right: 40px;
        padding-left: 40px;
        height: 400px;
        width: 80vw;
    }


    .styleMoves span {
        font-size: 16px;
    }


    #pokeCardContainer {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }
}


@media (max-width: 450px) {
    .styleLinks {
        font-size: 16px;
        margin-top: 2px;
        margin-bottom: 2px;
    }


    .pokeChartContainerChild2 {
        padding-top: 100px;

    }


    .pokeCard {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }


    .styleMoves {
        padding-right: 0;
    }


    .styleMoves span {
        font-size: 12px;
    }


    .styleBaseStats span {
        font-size: 12px;
    }


    .aboutContainer span {
        font-size: 12px;
    }


    .aboutContainer th {
        font-size: 12px;
    }


    .aboutContainer h2 {
        font-size: 16px;
    }


    .maRiLe24px {
        margin-left: 8px;
        margin-right: 8px
    }


    .pokeImgChart {
        width: 160px;
    }


    .stylePokeTypes {
        flex-direction: column;
        max-width: 24px;
    }
}


@media (max-width: 200px){
    .styleMoves {
        padding-left: 16px;
    }
}